html, body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
}

@page {
  size: A4 portrait;
  margin: 0 auto;
}

.page {
  display: flex;
  width: 7.8in;
  height: 11in;
  flex-wrap: wrap;
  page-break-after: always;
}

.pages > div:nth-child(2n) {
  flex-direction: row-reverse;
}

.clearfix {
 clear: both; 
}

.card {
  display: inline-block;
  width: 3.625in;
  height: 5.5in;
  position: relative;
  text-align: center;
  border: 1px #000 solid;
  box-sizing: border-box;
  vertical-align: top; /* without alignment back cards move down front cards relative to them */
}

.cardback {
  background-color: #ebebeb;
}

img.logo {
  display: block;
  height: 2.5in;
  width: 2.5in;
  margin: 0 auto;
  padding: 0.2in 0 0;
}

.card span {
  display: block;
  margin: 0 auto;
}

span.title {
  font-size: 0.5in;
}

span.participant {
  font-size: 0.3in;
  font-family: cursive;
  bottom: 0.4in;
  background-color: #e1e1e1;
  padding: 0.075in 0;
  font-family: "Damion", sans-serif;
}

span.role {
  font-size: 0.3in;
  bottom: 0;
  background-color: #00b0f0;
  padding: 0.05in 0;
  color: white;
  font-weight: 700;
}

div.bottomText {
  position: absolute;
  bottom: 0;
  width: 100%;
}

div.barcode {
  margin: 0.2in 0.25in 0;
  background-color: #fff;
  border-radius: 0.1in;
}

span.welcome {
  font-weight: 700;
  font-size: 0.26in;
  padding: 0.2in;
}

p.information {
  margin: 0 0.18in;
  font-size: 0.15in;
  text-align: justify;
}

ul.bullets {
  text-align: left;
  font-size: 0.15in;
  list-style-type: circle;
}